.page {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  flex: 1 100%;
}

.plant-item {
  border: 0.3em black solid;
  padding: 0.5em;
  margin: 1em;
  justify-content: center;
  align-items: center;
}

.cart-item {
  border: 0.3em black solid;
  padding: 0.5em;
  margin: 1em;
  justify-content: center;
  align-items: center;
}
